
.csv-table6 {
    border-collapse: collapse;
    width: 100%;
    position: relative;
    
  }
  
  .csv-table6 th, .csv-table6    td {
    border: 1px solid #c4c1c1;
    text-align: center;
    padding: 10px;
  }
  .csv-table6 td {
    font-size: 13px;
  }
  
  .csv-table6 th {
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 500;
    position: sticky; 
    top: 0; 
    z-index: 1;
  }
  
  .data-container5 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: 100px;
  }
  
  .table-container6 {
    max-height: 420px;
    overflow: auto;
    width: 70%;
    position: relative;
    left: 320px;
    top:80px;
    
  }
  
  
  
  .sidebar4.open {
    left: 0;
  }
  
  .toggle-button4 {
    position: absolute;
    top: 100px;
    right: -195px;
    width: 30px;
    height: 30px;
    background-color: #2e2b2b;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid white;
    transition: right 0.3s ease;
  }
  
  .sidebar4.open .toggle-button4 {
    right: -20px; 
  }
  
  .sidebar-content4  {
    margin-top: 160px;
    display: flex;
    text-align: center;
    cursor: pointer;
    margin-left: 40px;
  }
  
  .toggle-button4:hover {
    background-color: #1f1e1e;
  }
  .icon-with-text {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .icon-with-text .MuiSvgIcon-root {
    margin-right: 6px; /* Adjust the margin as needed */
  }
  
  #Text-preproccess{
    position: absolute;
    left: 325px;
    top: 110px;
  }
  #mode-select4{
    position: relative;
    left:820px;
    top: 30px;
  }
  .sidebar4 {   
    position: fixed;
    top: 0;
    left: -270px; /* Adjust this value to control how far from the left the sidebar starts */
    width: 230px; /* Adjust the width as needed */
    height: 100%;
    background-color: #2f4550; /* Example background color */
    transition: left 0.3s ease; /* Add transition for smooth animation */
    top: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    z-index: 1;
   
  }
  
  .sidebar4.open {
    left: 0px; /* When open, move the sidebar to the left edge */
  }
  
  
  .model-accuracies-container {
    text-align: center;
    margin: 50px auto; /* Centering the container */
    max-width: 800px; /* Adjust as per your design */
    padding: 20px;
    /* border: 1px solid #666262; */
    border-radius: 5px;
    position: relative;
    left: 45px;
    top:30px;
}

.model-accuracies-table {
    width: 65%;
    border-collapse: collapse; /* Collapsing borders between cells */
}

.model-accuracies-table th,
.model-accuracies-table td {
    padding: 8px 12px;
    border: 1px solid #999696; /* Border styling for table cells */
}

.model-accuracies-table th {
    background-color: #f0eaea; /* Background color for table headers */
    font-weight: 400;

}
#bestmodel{
  position: relative;
  right: 140px;
  top: 23px;
}

.new-data-input{
  position: relative;
  left: 1000px;
  bottom: 350px;
}
.predictions {
  position: absolute;
  left: 1090px; /* Adjust based on your layout */
  bottom: 100px; /* Adjust based on your layout */
  font-size: 14px; /* Adjust the font size as needed */
  margin-top: 10px; /* Add some top margin for spacing */
  margin-bottom: 10px; /* Add some bottom margin for spacing */
}

.button-container {
  text-align: center; /* Center aligns the button horizontally */
  margin-top: 6px; /* Adjust as needed */
}