
.csv-table1 {
  border-collapse: collapse;
  width: 100%;
  position: relative;
}

.csv-table1 th, .csv-table1 td {
  border: 1px solid #c4c1c1;
  text-align: center;
  padding: 10px;
}
.csv-table1 td {
  font-size: 13px;
}

.csv-table1 th {
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: 500;
  position: sticky; 
  top: 0; 
  z-index: 1;
}

.data-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-left: 100px;
}

.table-container1 {
  max-height: 420px;
  overflow: auto;
  width: 70%;
  position: relative;
  left: 320px;
}



.sidebar.open {
  left: 0;
}

.toggle-button {
  position: absolute;
  top: 330px;
  right: -195px;
  width: 35px;
  height: 35px;
  background-color: #2e2b2b;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid white;
  transition: right 0.3s ease;
}

.sidebar.open .toggle-button {
  right: -20px; 
}

.sidebar-content {
  margin-top: 60px;
  display: flex;
  text-align: center;
  cursor: pointer;
  margin-left: 40px;
}

.toggle-button:hover {
  background-color: #1f1e1e;
}
.icon-with-text {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.icon-with-text .MuiSvgIcon-root {
  margin-right: 6px; /* Adjust the margin as needed */
}

#data-preproccess{
  position: absolute;
  left: 325px;
  top: 110px;
}
#mode-select{
  position: relative;
  left:770px;
  top: 30px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -270px; /* Adjust this value to control how far from the left the sidebar starts */
  width: 230px; /* Adjust the width as needed */
  height: 100%;
  background-color: #2f4550; /* Example background color */
  transition: left 0.3s ease; /* Add transition for smooth animation */
  top: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  z-index: 1;
 
}

.sidebar.open {
  left: 0px; /* When open, move the sidebar to the left edge */
}

#train-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  text-align: center;
  position: relative;
  top: 100px;
  left: -10px;
}

#train-text li {
  list-style: none;
  margin-bottom: 7px;
}
