#Dart-font {
    color: rgb(83, 121, 192); /* Choose the perfect color */
    font-size: 2.2rem;
    letter-spacing: 3px;
    position: absolute;
    left: 210px;
    top: 90px;
  }
  
  /* Media query for small laptops */
  @media (max-width: 1200px) {
    #Dart-font {
      font-size: 2.0rem;
      letter-spacing: 2.5px;
      left: 180px;
      top: 80px;
    }
  }
  
  /* Media query for tablets */
  @media (max-width: 992px) {
    #Dart-font {
      font-size: 2rem;
      letter-spacing: 2px;
      left: 150px;
      top: 70px;
    }
  }
  
  /* Media query for large mobile phones */
  @media (max-width: 768px) {
    #Dart-font {
      font-size: 1.8rem;
      letter-spacing: 1.5px;
      left: 120px;
      top: 60px;
    }
  }
  
  /* Media query for small mobile phones */
  @media (max-width: 576px) {
    #Dart-font {
      font-size: 1.6rem;
      letter-spacing: 1px;
      left: 90px;
      top: 50px;
    }
  }
  #upload-btn{
    width: 100px;
    height:40px;
    position: absolute;
bottom: 30px;
right: 40px;
    background-color: rgb(70, 101, 131)  ;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    backdrop-filter: blur(2px); 
    box-shadow: 0 8px 32px 0 rgba(103, 107, 170, 0.37);
  
  }
  #file-name {
    position: relative;
    left:300px;
    top: 30px;
    font-size: 1.0rem;
    color: #333;
  }

  #submit-btn1{
    position: relative;
    top: 30px;
    left: 300px;
  }

  .csv-table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
    top: 40px;
   
 


}

.csv-table th, .csv-table td {
    border: 1px solid #c4c1c1;
    text-align: center;
    padding: 10px;
    
}

.csv-table th {
    background-color: #f2f2f2;
    font-size: small;
    font-weight: 500;    
}

.container {
  display: flex;
  justify-content: center;
margin-left: 70px;
  
 
}
.table-container {
  max-height: 450px; 
  overflow: auto;
  width: 70%;

}
